<h2>WELCOME TO MOVIE APP</h2>
<div class="form-div">
    <div class="row">
        <div class="form-main">
          <form (ngSubmit)="onSubmit(f)" #f="ngForm">
            <div class="user-data">
              <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="custom-input" id="username" ngModel name="name" required #name="ngModel"
                />
                <span class="help-block" *ngIf="!name.valid && name.touched"
                  >Please enter a valid username!</span>
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" class="custom-input" ngModel name="password" required #password="ngModel" minlength="4"
                />
                <span
                  class="help-block"
                  *ngIf="!password.valid && password.touched"
                  >Type at least 4 characters </span>
              </div>
              <button
                class="enter-button btn btn-primary"
                type="submit"
                [disabled]="!f.valid">
                Sign in
              </button>
            </div>
          </form>
          <button class="create-button" (click)="NewAccount()">
            New Here
          </button>
        </div>
    </div>
  </div>
  